@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&family=Inter:wght@400;600;700&display=swap');



.App {
  background-color: rgb(252, 252, 252);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; 
}

.list img{
  width: 100%;
  object-fit: contain;
  object-position: center;
  cursor: pointer;
}

.nav {
  font-family: 'Source Serif Pro', serif;
  color: #525252;
  width: 80%;
  display: flex;
  justify-content: space-between; 
  padding: 0 10%; 
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 5px;
}

.nav button {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 800;
  background-color: #363636;
  color: white;
  border: none;
  width: 108px;
  height: 30px;
  margin: 25px 5px;
  border-radius: 30px;
  transition: background-color 0.5s ease, color 0.3s ease;
}

.nav button:hover {
  cursor: pointer;
  background-color: aliceblue;
  border: 2px solid;
  color: #1D1D1D;
  transition: background-color 0.5s ease, color 0.3s ease;
}

.Banner {
  background-color: #1D1D1D;
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  width: auto;
  height: 50vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 15px;
}

.lists-container {
  display: flex;
  justify-content: space-between;
  width: 60%;  
  margin: 50px auto;  
}

.list {
  border-radius: 12px;
  width: 30%;
  margin: 0 20px; 
  padding: 20px;  
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.list:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.list h4{
  margin: 5px;
}

.social_function {
  margin-bottom: 16px;
  float: right;
}

.social_function:hover {
  cursor: pointer;
}

.footer {
  background-color: #282c34; 
  color: white; 
  text-align: center; 
  padding: 20px; 
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  margin-top: auto;  
  
}

.more {
  margin: 20% 0;
  text-align: center;
}

.more h1 {
  font-size: 42px;
  font-weight: 350;
  color: #4c4c4c;
}

.more button {
  margin-top: 10px;
  font-size: 24px;
  width: 300px;
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
  background-color: #363636;
  color: white;
  font-weight: bold;
  margin-bottom: 200px;
  border: none;
  transition: background-color 0.5s ease, color 0.3s ease;
}

.more button:hover {
  cursor: pointer;
  background-color: rgb(250, 250, 250);
  border: 2px solid;
  color: #1D1D1D;
  transition: background-color 0.5s ease, color 0.3s ease;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
